/* Border style */
.brdr{ border:1px solid #808080}
.brdr-top{ border-top:1px solid #808080}
.brdr-btm{ border-bottom:1px solid #808080}
.brdr-lft{ border-left:1px solid #808080}
.brdr-rht{ border-right:1px solid #808080}
.brdr-tb{ border-top:1px solid #808080; border-bottom:1px solid #808080}
.brdr-lr{ border-left:1px solid #808080; border-right:1px solid #808080}

.brdr-void{ border:0 !important}
.brdr-void-lft{ border-left:0 !important}
.brdr-void-rht{ border-right:0 !important}
.brdr-void-top{ border-top:0 !important}
.brdr-void-btm{ border-bottom:0 !important}
.brdr-void-tb{ border-top:0 !important; border-bottom:0 !important}
.brdr-void-lr{ border-left:0 !important; border-right:0 !important}

/* Text style */
.bold{ font-weight:bold !important; }
.italic{ font-style:italic }
.boldItalic{ font-weight:bold !important; font-style:italic }

/* Margin style */
.span-5{ margin:5px; }
.span-10{ margin:10px; }
.span-15{ margin:15px; }
.span-20{ margin:20px; }
.span-25{ margin:25px; }
.span-30{ margin:30px; }
.span-35{ margin:35px; }
.span-40{ margin:40px; }
.span-45{ margin:45px; }
.span-50{ margin:50px; }
.span-55{ margin:55px; }
.span-60{ margin:60px; }
.span-65{ margin:65px; }
.span-70{ margin:70px; }
.span-75{ margin:75px; }
.span-80{ margin:80px; }
.span-85{ margin:85px; }
.span-90{ margin:90px; }
.span-95{ margin:95px; }
.span-100{ margin:100px;}

.span-lft-5{ margin-left:5px; }
.span-lft-10{ margin-left:10px; }
.span-lft-15{ margin-left:15px; }
.span-lft-20{ margin-left:20px; }
.span-lft-25{ margin-left:25px; }
.span-lft-30{ margin-left:30px; }
.span-lft-35{ margin-left:35px; }
.span-lft-40{ margin-left:40px; }
.span-lft-45{ margin-left:45px; }
.span-lft-50{ margin-left:50px; }
.span-lft-55{ margin-left:55px; }
.span-lft-60{ margin-left:60px; }
.span-lft-65{ margin-left:65px; }
.span-lft-70{ margin-left:70px; }
.span-lft-75{ margin-left:75px; }
.span-lft-80{ margin-left:80px; }
.span-lft-85{ margin-left:85px; }
.span-lft-90{ margin-left:90px; }
.span-lft-95{ margin-left:95px; }
.span-lft-100{ margin-left:100px;}


.span-rht-5{ margin-right-right:5px; }
.span-rht-10{ margin-right-right:10px; }
.span-rht-15{ margin-right-right:15px; }
.span-rht-20{ margin-right-right:20px; }
.span-rht-25{ margin-right-right:25px; }
.span-rht-30{ margin-right-right:30px; }
.span-rht-35{ margin-right-right:35px; }
.span-rht-40{ margin-right-right:40px; }
.span-rht-45{ margin-right-right:45px; }
.span-rht-50{ margin-right-right:50px; }
.span-rht-55{ margin-right-right:55px; }
.span-rht-60{ margin-right-right:60px; }
.span-rht-65{ margin-right-right:65px; }
.span-rht-70{ margin-right-right:70px; }
.span-rht-75{ margin-right-right:75px; }
.span-rht-80{ margin-right-right:80px; }
.span-rht-85{ margin-right-right:85px; }
.span-rht-90{ margin-right-right:90px; }
.span-rht-95{ margin-right-right:95px; }
.span-rht-100{ margin-right-right:100px;}

.span-btm-5{ margin-bottom-bottom:5px; }
.span-btm-10{ margin-bottom-bottom:10px; }
.span-btm-15{ margin-bottom-bottom:15px; }
.span-btm-20{ margin-bottom-bottom:20px; }
.span-btm-25{ margin-bottom-bottom:25px; }
.span-btm-30{ margin-bottom-bottom:30px; }
.span-btm-35{ margin-bottom-bottom:35px; }
.span-btm-40{ margin-bottom-bottom:40px; }
.span-btm-45{ margin-bottom-bottom:45px; }
.span-btm-50{ margin-bottom-bottom:50px; }
.span-btm-55{ margin-bottom-bottom:55px; }
.span-btm-60{ margin-bottom-bottom:60px; }
.span-btm-65{ margin-bottom-bottom:65px; }
.span-btm-70{ margin-bottom-bottom:70px; }
.span-btm-75{ margin-bottom-bottom:75px; }
.span-btm-80{ margin-bottom-bottom:80px; }
.span-btm-85{ margin-bottom-bottom:85px; }
.span-btm-90{ margin-bottom-bottom:90px; }
.span-btm-95{ margin-bottom-bottom:95px; }
.span-btm-100{ margin-bottom-bottom:100px;}

.span-top-5{ margin-top-top:5px; }
.span-top-10{ margin-top-top:10px; }
.span-top-15{ margin-top-top:15px; }
.span-top-20{ margin-top-top:20px; }
.span-top-25{ margin-top-top:25px; }
.span-top-30{ margin-top-top:30px; }
.span-top-35{ margin-top-top:35px; }
.span-top-40{ margin-top-top:40px; }
.span-top-45{ margin-top-top:45px; }
.span-top-50{ margin-top-top:50px; }
.span-top-55{ margin-top-top:55px; }
.span-top-60{ margin-top-top:60px; }
.span-top-65{ margin-top-top:65px; }
.span-top-70{ margin-top-top:70px; }
.span-top-75{ margin-top-top:75px; }
.span-top-80{ margin-top-top:80px; }
.span-top-85{ margin-top-top:85px; }
.span-top-90{ margin-top-top:90px; }
.span-top-95{ margin-top-top:95px; }
.span-top-100{ margin-top-top:100px;}


.span-void{ margin:0 !important}
.span-void-lft{ margin-left:0 !important}
.span-void-rht{ margin-right:0 !important}
.span-void-top{ margin-top:0 !important}
.span-void-btm{ margin-bottom:0 !important}
.span-void-tb{ margin-top:0 !important; margin-bottom:0 !important}
.span-void-lr{ margin-left:0 !important; margin-right:0 !important}


/* Padding style */

.space-5{ padding:5px; }
.space-10{ padding:10px; }
.space-15{ padding:15px; }
.space-20{ padding:20px; }
.space-25{ padding:25px; }
.space-30{ padding:30px; }
.space-35{ padding:35px; }
.space-40{ padding:40px; }
.space-45{ padding:45px; }
.space-50{ padding:50px; }
.space-55{ padding:55px; }
.space-60{ padding:60px; }
.space-65{ padding:65px; }
.space-70{ padding:70px; }
.space-75{ padding:75px; }
.space-80{ padding:80px; }
.space-85{ padding:85px; }
.space-90{ padding:90px; }
.space-95{ padding:95px; }
.space-100{ padding:100px;}

.space-lft-5{ padding-left:5px; }
.space-lft-10{ padding-left:10px; }
.space-lft-15{ padding-left:15px; }
.space-lft-20{ padding-left:20px; }
.space-lft-25{ padding-left:25px; }
.space-lft-30{ padding-left:30px; }
.space-lft-35{ padding-left:35px; }
.space-lft-40{ padding-left:40px; }
.space-lft-45{ padding-left:45px; }
.space-lft-50{ padding-left:50px; }
.space-lft-55{ padding-left:55px; }
.space-lft-60{ padding-left:60px; }
.space-lft-65{ padding-left:65px; }
.space-lft-70{ padding-left:70px; }
.space-lft-75{ padding-left:75px; }
.space-lft-80{ padding-left:80px; }
.space-lft-85{ padding-left:85px; }
.space-lft-90{ padding-left:90px; }
.space-lft-95{ padding-left:95px; }
.space-lft-100{ padding-left:100px;}


.space-rht-5{ padding-right-right:5px; }
.space-rht-10{ padding-right-right:10px; }
.space-rht-15{ padding-right-right:15px; }
.space-rht-20{ padding-right-right:20px; }
.space-rht-25{ padding-right-right:25px; }
.space-rht-30{ padding-right-right:30px; }
.space-rht-35{ padding-right-right:35px; }
.space-rht-40{ padding-right-right:40px; }
.space-rht-45{ padding-right-right:45px; }
.space-rht-50{ padding-right-right:50px; }
.space-rht-55{ padding-right-right:55px; }
.space-rht-60{ padding-right-right:60px; }
.space-rht-65{ padding-right-right:65px; }
.space-rht-70{ padding-right-right:70px; }
.space-rht-75{ padding-right-right:75px; }
.space-rht-80{ padding-right-right:80px; }
.space-rht-85{ padding-right-right:85px; }
.space-rht-90{ padding-right-right:90px; }
.space-rht-95{ padding-right-right:95px; }
.space-rht-100{ padding-right-right:100px;}

.space-btm-5{ padding-bottom-bottom:5px; }
.space-btm-10{ padding-bottom-bottom:10px; }
.space-btm-15{ padding-bottom-bottom:15px; }
.space-btm-20{ padding-bottom-bottom:20px; }
.space-btm-25{ padding-bottom-bottom:25px; }
.space-btm-30{ padding-bottom-bottom:30px; }
.space-btm-35{ padding-bottom-bottom:35px; }
.space-btm-40{ padding-bottom-bottom:40px; }
.space-btm-45{ padding-bottom-bottom:45px; }
.space-btm-50{ padding-bottom-bottom:50px; }
.space-btm-55{ padding-bottom-bottom:55px; }
.space-btm-60{ padding-bottom-bottom:60px; }
.space-btm-65{ padding-bottom-bottom:65px; }
.space-btm-70{ padding-bottom-bottom:70px; }
.space-btm-75{ padding-bottom-bottom:75px; }
.space-btm-80{ padding-bottom-bottom:80px; }
.space-btm-85{ padding-bottom-bottom:85px; }
.space-btm-90{ padding-bottom-bottom:90px; }
.space-btm-95{ padding-bottom-bottom:95px; }
.space-btm-100{ padding-bottom-bottom:100px;}

.space-top-5{ padding-top-top:5px; }
.space-top-10{ padding-top-top:10px; }
.space-top-15{ padding-top-top:15px; }
.space-top-20{ padding-top-top:20px; }
.space-top-25{ padding-top-top:25px; }
.space-top-30{ padding-top-top:30px; }
.space-top-35{ padding-top-top:35px; }
.space-top-40{ padding-top-top:40px; }
.space-top-45{ padding-top-top:45px; }
.space-top-50{ padding-top-top:50px; }
.space-top-55{ padding-top-top:55px; }
.space-top-60{ padding-top-top:60px; }
.space-top-65{ padding-top-top:65px; }
.space-top-70{ padding-top-top:70px; }
.space-top-75{ padding-top-top:75px; }
.space-top-80{ padding-top-top:80px; }
.space-top-85{ padding-top-top:85px; }
.space-top-90{ padding-top-top:90px; }
.space-top-95{ padding-top-top:95px; }
.space-top-100{ padding-top-top:100px;}


.space-void{ padding:0 !important}
.space-void-lft{ padding-left:0 !important}
.space-void-rht{ padding-right:0 !important}
.space-void-top{ padding-top:0 !important}
.space-void-btm{ padding-bottom:0 !important}
.space-void-tb{ padding-top:0 !important; padding-bottom:0 !important}
.space-void-lr{ padding-left:0 !important; padding-right:0 !important}

/*Miscellaneous classes*/
.void{ margin:0 !important; padding:0 !important; }


/* For Handheld:Tablet Media */
@media (min-width:641px) and (max-width:980px){
    /* Border style */
    .tab-brdr{ border:1px solid #808080}
    .tab-brdr-top{ border-top:1px solid #808080}
    .tab-brdr-btm{ border-bottom:1px solid #808080}
    .tab-brdr-lft{ border-left:1px solid #808080}
    .tab-brdr-rht{ border-right:1px solid #808080}
    .tab-brdr-tb{ border-top:1px solid #808080; border-bottom:1px solid #808080}
    .tab-brdr-lr{ border-left:1px solid #808080; border-right:1px solid #808080}

    .tab-brdr-void{ border:0 !important}
    .tab-brdr-void-lft{ border-left:0 !important}
    .tab-brdr-void-rht{ border-right:0 !important}
    .tab-brdr-void-top{ border-top:0 !important}
    .tab-brdr-void-btm{ border-bottom:0 !important}
    .tab-brdr-void-tb{ border-top:0 !important; border-bottom:0 !important}
    .tab-brdr-void-lr{ border-left:0 !important; border-right:0 !important}

    /* Text style */
    .tab-bold{ font-weight:bold !important; }
    .tab-italic{ font-style:italic }
    .tab-boldItalic{ font-weight:bold !important; font-style:italic }

    /* Margin style */
    .tab-span-5{ margin:5px; }
    .tab-span-10{ margin:10px; }
    .tab-span-15{ margin:15px; }
    .tab-span-20{ margin:20px; }
    .tab-span-25{ margin:25px; }
    .tab-span-30{ margin:30px; }
    .tab-span-35{ margin:35px; }
    .tab-span-40{ margin:40px; }
    .tab-span-45{ margin:45px; }
    .tab-span-50{ margin:50px; }
    .tab-span-55{ margin:55px; }
    .tab-span-60{ margin:60px; }
    .tab-span-65{ margin:65px; }
    .tab-span-70{ margin:70px; }
    .tab-span-75{ margin:75px; }
    .tab-span-80{ margin:80px; }
    .tab-span-85{ margin:85px; }
    .tab-span-90{ margin:90px; }
    .tab-span-95{ margin:95px; }
    .tab-span-100{ margin:100px;}

    .tab-span-lft-5{ margin-left:5px; }
    .tab-span-lft-10{ margin-left:10px; }
    .tab-span-lft-15{ margin-left:15px; }
    .tab-span-lft-20{ margin-left:20px; }
    .tab-span-lft-25{ margin-left:25px; }
    .tab-span-lft-30{ margin-left:30px; }
    .tab-span-lft-35{ margin-left:35px; }
    .tab-span-lft-40{ margin-left:40px; }
    .tab-span-lft-45{ margin-left:45px; }
    .tab-span-lft-50{ margin-left:50px; }
    .tab-span-lft-55{ margin-left:55px; }
    .tab-span-lft-60{ margin-left:60px; }
    .tab-span-lft-65{ margin-left:65px; }
    .tab-span-lft-70{ margin-left:70px; }
    .tab-span-lft-75{ margin-left:75px; }
    .tab-span-lft-80{ margin-left:80px; }
    .tab-span-lft-85{ margin-left:85px; }
    .tab-span-lft-90{ margin-left:90px; }
    .tab-span-lft-95{ margin-left:95px; }
    .tab-span-lft-100{ margin-left:100px;}

    .tab-span-rht-5{ margin-right-right:5px; }
    .tab-span-rht-10{ margin-right-right:10px; }
    .tab-span-rht-15{ margin-right-right:15px; }
    .tab-span-rht-20{ margin-right-right:20px; }
    .tab-span-rht-25{ margin-right-right:25px; }
    .tab-span-rht-30{ margin-right-right:30px; }
    .tab-span-rht-35{ margin-right-right:35px; }
    .tab-span-rht-40{ margin-right-right:40px; }
    .tab-span-rht-45{ margin-right-right:45px; }
    .tab-span-rht-50{ margin-right-right:50px; }
    .tab-span-rht-55{ margin-right-right:55px; }
    .tab-span-rht-60{ margin-right-right:60px; }
    .tab-span-rht-65{ margin-right-right:65px; }
    .tab-span-rht-70{ margin-right-right:70px; }
    .tab-span-rht-75{ margin-right-right:75px; }
    .tab-span-rht-80{ margin-right-right:80px; }
    .tab-span-rht-85{ margin-right-right:85px; }
    .tab-span-rht-90{ margin-right-right:90px; }
    .tab-span-rht-95{ margin-right-right:95px; }
    .tab-span-rht-100{ margin-right-right:100px;}

    .tab-span-btm-5{ margin-bottom-bottom:5px; }
    .tab-span-btm-10{ margin-bottom-bottom:10px; }
    .tab-span-btm-15{ margin-bottom-bottom:15px; }
    .tab-span-btm-20{ margin-bottom-bottom:20px; }
    .tab-span-btm-25{ margin-bottom-bottom:25px; }
    .tab-span-btm-30{ margin-bottom-bottom:30px; }
    .tab-span-btm-35{ margin-bottom-bottom:35px; }
    .tab-span-btm-40{ margin-bottom-bottom:40px; }
    .tab-span-btm-45{ margin-bottom-bottom:45px; }
    .tab-span-btm-50{ margin-bottom-bottom:50px; }
    .tab-span-btm-55{ margin-bottom-bottom:55px; }
    .tab-span-btm-60{ margin-bottom-bottom:60px; }
    .tab-span-btm-65{ margin-bottom-bottom:65px; }
    .tab-span-btm-70{ margin-bottom-bottom:70px; }
    .tab-span-btm-75{ margin-bottom-bottom:75px; }
    .tab-span-btm-80{ margin-bottom-bottom:80px; }
    .tab-span-btm-85{ margin-bottom-bottom:85px; }
    .tab-span-btm-90{ margin-bottom-bottom:90px; }
    .tab-span-btm-95{ margin-bottom-bottom:95px; }
    .tab-span-btm-100{ margin-bottom-bottom:100px;}

    .tab-span-top-5{ margin-top-top:5px; }
    .tab-span-top-10{ margin-top-top:10px; }
    .tab-span-top-15{ margin-top-top:15px; }
    .tab-span-top-20{ margin-top-top:20px; }
    .tab-span-top-25{ margin-top-top:25px; }
    .tab-span-top-30{ margin-top-top:30px; }
    .tab-span-top-35{ margin-top-top:35px; }
    .tab-span-top-40{ margin-top-top:40px; }
    .tab-span-top-45{ margin-top-top:45px; }
    .tab-span-top-50{ margin-top-top:50px; }
    .tab-span-top-55{ margin-top-top:55px; }
    .tab-span-top-60{ margin-top-top:60px; }
    .tab-span-top-65{ margin-top-top:65px; }
    .tab-span-top-70{ margin-top-top:70px; }
    .tab-span-top-75{ margin-top-top:75px; }
    .tab-span-top-80{ margin-top-top:80px; }
    .tab-span-top-85{ margin-top-top:85px; }
    .tab-span-top-90{ margin-top-top:90px; }
    .tab-span-top-95{ margin-top-top:95px; }
    .tab-span-top-100{ margin-top-top:100px;}

    .tab-span-void{ margin:0 !important}
    .tab-span-void-lft{ margin-left:0 !important}
    .tab-span-void-rht{ margin-right:0 !important}
    .tab-span-void-top{ margin-top:0 !important}
    .tab-span-void-btm{ margin-bottom:0 !important}
    .tab-span-void-tb{ margin-top:0 !important; margin-bottom:0 !important}
    .tab-span-void-lr{ margin-left:0 !important; margin-right:0 !important}

    /* Padding style */
    .tab-space-5{ padding:5px; }
    .tab-space-10{ padding:10px; }
    .tab-space-15{ padding:15px; }
    .tab-space-20{ padding:20px; }
    .tab-space-25{ padding:25px; }
    .tab-space-30{ padding:30px; }
    .tab-space-35{ padding:35px; }
    .tab-space-40{ padding:40px; }
    .tab-space-45{ padding:45px; }
    .tab-space-50{ padding:50px; }
    .tab-space-55{ padding:55px; }
    .tab-space-60{ padding:60px; }
    .tab-space-65{ padding:65px; }
    .tab-space-70{ padding:70px; }
    .tab-space-75{ padding:75px; }
    .tab-space-80{ padding:80px; }
    .tab-space-85{ padding:85px; }
    .tab-space-90{ padding:90px; }
    .tab-space-95{ padding:95px; }
    .tab-space-100{ padding:100px;}

    .tab-space-lft-5{ padding-left:5px; }
    .tab-space-lft-10{ padding-left:10px; }
    .tab-space-lft-15{ padding-left:15px; }
    .tab-space-lft-20{ padding-left:20px; }
    .tab-space-lft-25{ padding-left:25px; }
    .tab-space-lft-30{ padding-left:30px; }
    .tab-space-lft-35{ padding-left:35px; }
    .tab-space-lft-40{ padding-left:40px; }
    .tab-space-lft-45{ padding-left:45px; }
    .tab-space-lft-50{ padding-left:50px; }
    .tab-space-lft-55{ padding-left:55px; }
    .tab-space-lft-60{ padding-left:60px; }
    .tab-space-lft-65{ padding-left:65px; }
    .tab-space-lft-70{ padding-left:70px; }
    .tab-space-lft-75{ padding-left:75px; }
    .tab-space-lft-80{ padding-left:80px; }
    .tab-space-lft-85{ padding-left:85px; }
    .tab-space-lft-90{ padding-left:90px; }
    .tab-space-lft-95{ padding-left:95px; }
    .tab-space-lft-100{ padding-left:100px;}


    .tab-space-rht-5{ padding-right-right:5px; }
    .tab-space-rht-10{ padding-right-right:10px; }
    .tab-space-rht-15{ padding-right-right:15px; }
    .tab-space-rht-20{ padding-right-right:20px; }
    .tab-space-rht-25{ padding-right-right:25px; }
    .tab-space-rht-30{ padding-right-right:30px; }
    .tab-space-rht-35{ padding-right-right:35px; }
    .tab-space-rht-40{ padding-right-right:40px; }
    .tab-space-rht-45{ padding-right-right:45px; }
    .tab-space-rht-50{ padding-right-right:50px; }
    .tab-space-rht-55{ padding-right-right:55px; }
    .tab-space-rht-60{ padding-right-right:60px; }
    .tab-space-rht-65{ padding-right-right:65px; }
    .tab-space-rht-70{ padding-right-right:70px; }
    .tab-space-rht-75{ padding-right-right:75px; }
    .tab-space-rht-80{ padding-right-right:80px; }
    .tab-space-rht-85{ padding-right-right:85px; }
    .tab-space-rht-90{ padding-right-right:90px; }
    .tab-space-rht-95{ padding-right-right:95px; }
    .tab-space-rht-100{ padding-right-right:100px;}

    .tab-space-btm-5{ padding-bottom-bottom:5px; }
    .tab-space-btm-10{ padding-bottom-bottom:10px; }
    .tab-space-btm-15{ padding-bottom-bottom:15px; }
    .tab-space-btm-20{ padding-bottom-bottom:20px; }
    .tab-space-btm-25{ padding-bottom-bottom:25px; }
    .tab-space-btm-30{ padding-bottom-bottom:30px; }
    .tab-space-btm-35{ padding-bottom-bottom:35px; }
    .tab-space-btm-40{ padding-bottom-bottom:40px; }
    .tab-space-btm-45{ padding-bottom-bottom:45px; }
    .tab-space-btm-50{ padding-bottom-bottom:50px; }
    .tab-space-btm-55{ padding-bottom-bottom:55px; }
    .tab-space-btm-60{ padding-bottom-bottom:60px; }
    .tab-space-btm-65{ padding-bottom-bottom:65px; }
    .tab-space-btm-70{ padding-bottom-bottom:70px; }
    .tab-space-btm-75{ padding-bottom-bottom:75px; }
    .tab-space-btm-80{ padding-bottom-bottom:80px; }
    .tab-space-btm-85{ padding-bottom-bottom:85px; }
    .tab-space-btm-90{ padding-bottom-bottom:90px; }
    .tab-space-btm-95{ padding-bottom-bottom:95px; }
    .tab-space-btm-100{ padding-bottom-bottom:100px;}

    .tab-space-top-5{ padding-top-top:5px; }
    .tab-space-top-10{ padding-top-top:10px; }
    .tab-space-top-15{ padding-top-top:15px; }
    .tab-space-top-20{ padding-top-top:20px; }
    .tab-space-top-25{ padding-top-top:25px; }
    .tab-space-top-30{ padding-top-top:30px; }
    .tab-space-top-35{ padding-top-top:35px; }
    .tab-space-top-40{ padding-top-top:40px; }
    .tab-space-top-45{ padding-top-top:45px; }
    .tab-space-top-50{ padding-top-top:50px; }
    .tab-space-top-55{ padding-top-top:55px; }
    .tab-space-top-60{ padding-top-top:60px; }
    .tab-space-top-65{ padding-top-top:65px; }
    .tab-space-top-70{ padding-top-top:70px; }
    .tab-space-top-75{ padding-top-top:75px; }
    .tab-space-top-80{ padding-top-top:80px; }
    .tab-space-top-85{ padding-top-top:85px; }
    .tab-space-top-90{ padding-top-top:90px; }
    .tab-space-top-95{ padding-top-top:95px; }
    .tab-space-top-100{ padding-top-top:100px;}

    .tab-space-void{ padding:0 !important}
    .tab-space-void-lft{ padding-left:0 !important}
    .tab-space-void-rht{ padding-right:0 !important}
    .tab-space-void-top{ padding-top:0 !important}
    .tab-space-void-btm{ padding-bottom:0 !important}
    .tab-space-void-tb{ padding-top:0 !important; padding-bottom:0 !important}
    .tab-space-void-lr{ padding-left:0 !important; padding-right:0 !important}

    /*Miscellaneous classes*/
    .tab-void{ margin:0 !important; padding:0 !important; }
}


/* For Handheld : Mobile Media */
@media (min-width:300px) and (max-width:639px){
     /* Border style */
    .mb-brdr{ border:1px solid #808080}
    .mb-brdr-top{ border-top:1px solid #808080}
    .mb-brdr-btm{ border-bottom:1px solid #808080}
    .mb-brdr-lft{ border-left:1px solid #808080}
    .mb-brdr-rht{ border-right:1px solid #808080}
    .mb-brdr-tb{ border-top:1px solid #808080; border-bottom:1px solid #808080}
    .mb-brdr-lr{ border-left:1px solid #808080; border-right:1px solid #808080}

    .mb-brdr-void{ border:0 !important}
    .mb-brdr-void-lft{ border-left:0 !important}
    .mb-brdr-void-rht{ border-right:0 !important}
    .mb-brdr-void-top{ border-top:0 !important}
    .mb-brdr-void-btm{ border-bottom:0 !important}
    .mb-brdr-void-tb{ border-top:0 !important; border-bottom:0 !important}
    .mb-brdr-void-lr{ border-left:0 !important; border-right:0 !important}

    /* Text style */
    .mb-bold{ font-weight:bold !important; }
    .mb-italic{ font-style:italic }
    .mb-boldItalic{ font-weight:bold !important; font-style:italic }

    /* Margin style */
    .mb-span-5{ margin:5px; }
    .mb-span-10{ margin:10px; }
    .mb-span-15{ margin:15px; }
    .mb-span-20{ margin:20px; }
    .mb-span-25{ margin:25px; }
    .mb-span-30{ margin:30px; }
    .mb-span-35{ margin:35px; }
    .mb-span-40{ margin:40px; }
    .mb-span-45{ margin:45px; }
    .mb-span-50{ margin:50px; }
    .mb-span-55{ margin:55px; }
    .mb-span-60{ margin:60px; }
    .mb-span-65{ margin:65px; }
    .mb-span-70{ margin:70px; }
    .mb-span-75{ margin:75px; }
    .mb-span-80{ margin:80px; }
    .mb-span-85{ margin:85px; }
    .mb-span-90{ margin:90px; }
    .mb-span-95{ margin:95px; }
    .mb-span-100{ margin:100px;}

    .mb-span-lft-5{ margin-left:5px; }
    .mb-span-lft-10{ margin-left:10px; }
    .mb-span-lft-15{ margin-left:15px; }
    .mb-span-lft-20{ margin-left:20px; }
    .mb-span-lft-25{ margin-left:25px; }
    .mb-span-lft-30{ margin-left:30px; }
    .mb-span-lft-35{ margin-left:35px; }
    .mb-span-lft-40{ margin-left:40px; }
    .mb-span-lft-45{ margin-left:45px; }
    .mb-span-lft-50{ margin-left:50px; }
    .mb-span-lft-55{ margin-left:55px; }
    .mb-span-lft-60{ margin-left:60px; }
    .mb-span-lft-65{ margin-left:65px; }
    .mb-span-lft-70{ margin-left:70px; }
    .mb-span-lft-75{ margin-left:75px; }
    .mb-span-lft-80{ margin-left:80px; }
    .mb-span-lft-85{ margin-left:85px; }
    .mb-span-lft-90{ margin-left:90px; }
    .mb-span-lft-95{ margin-left:95px; }
    .mb-span-lft-100{ margin-left:100px;}

    .mb-span-rht-5{ margin-right-right:5px; }
    .mb-span-rht-10{ margin-right-right:10px; }
    .mb-span-rht-15{ margin-right-right:15px; }
    .mb-span-rht-20{ margin-right-right:20px; }
    .mb-span-rht-25{ margin-right-right:25px; }
    .mb-span-rht-30{ margin-right-right:30px; }
    .mb-span-rht-35{ margin-right-right:35px; }
    .mb-span-rht-40{ margin-right-right:40px; }
    .mb-span-rht-45{ margin-right-right:45px; }
    .mb-span-rht-50{ margin-right-right:50px; }
    .mb-span-rht-55{ margin-right-right:55px; }
    .mb-span-rht-60{ margin-right-right:60px; }
    .mb-span-rht-65{ margin-right-right:65px; }
    .mb-span-rht-70{ margin-right-right:70px; }
    .mb-span-rht-75{ margin-right-right:75px; }
    .mb-span-rht-80{ margin-right-right:80px; }
    .mb-span-rht-85{ margin-right-right:85px; }
    .mb-span-rht-90{ margin-right-right:90px; }
    .mb-span-rht-95{ margin-right-right:95px; }
    .mb-span-rht-100{ margin-right-right:100px;}

    .mb-span-btm-5{ margin-bottom-bottom:5px; }
    .mb-span-btm-10{ margin-bottom-bottom:10px; }
    .mb-span-btm-15{ margin-bottom-bottom:15px; }
    .mb-span-btm-20{ margin-bottom-bottom:20px; }
    .mb-span-btm-25{ margin-bottom-bottom:25px; }
    .mb-span-btm-30{ margin-bottom-bottom:30px; }
    .mb-span-btm-35{ margin-bottom-bottom:35px; }
    .mb-span-btm-40{ margin-bottom-bottom:40px; }
    .mb-span-btm-45{ margin-bottom-bottom:45px; }
    .mb-span-btm-50{ margin-bottom-bottom:50px; }
    .mb-span-btm-55{ margin-bottom-bottom:55px; }
    .mb-span-btm-60{ margin-bottom-bottom:60px; }
    .mb-span-btm-65{ margin-bottom-bottom:65px; }
    .mb-span-btm-70{ margin-bottom-bottom:70px; }
    .mb-span-btm-75{ margin-bottom-bottom:75px; }
    .mb-span-btm-80{ margin-bottom-bottom:80px; }
    .mb-span-btm-85{ margin-bottom-bottom:85px; }
    .mb-span-btm-90{ margin-bottom-bottom:90px; }
    .mb-span-btm-95{ margin-bottom-bottom:95px; }
    .mb-span-btm-100{ margin-bottom-bottom:100px;}

    .mb-span-top-5{ margin-top-top:5px; }
    .mb-span-top-10{ margin-top-top:10px; }
    .mb-span-top-15{ margin-top-top:15px; }
    .mb-span-top-20{ margin-top-top:20px; }
    .mb-span-top-25{ margin-top-top:25px; }
    .mb-span-top-30{ margin-top-top:30px; }
    .mb-span-top-35{ margin-top-top:35px; }
    .mb-span-top-40{ margin-top-top:40px; }
    .mb-span-top-45{ margin-top-top:45px; }
    .mb-span-top-50{ margin-top-top:50px; }
    .mb-span-top-55{ margin-top-top:55px; }
    .mb-span-top-60{ margin-top-top:60px; }
    .mb-span-top-65{ margin-top-top:65px; }
    .mb-span-top-70{ margin-top-top:70px; }
    .mb-span-top-75{ margin-top-top:75px; }
    .mb-span-top-80{ margin-top-top:80px; }
    .mb-span-top-85{ margin-top-top:85px; }
    .mb-span-top-90{ margin-top-top:90px; }
    .mb-span-top-95{ margin-top-top:95px; }
    .mb-span-top-100{ margin-top-top:100px;}

    .mb-span-void{ margin:0 !important}
    .mb-span-void-lft{ margin-left:0 !important}
    .mb-span-void-rht{ margin-right:0 !important}
    .mb-span-void-top{ margin-top:0 !important}
    .mb-span-void-btm{ margin-bottom:0 !important}
    .mb-span-void-tb{ margin-top:0 !important; margin-bottom:0 !important}
    .mb-span-void-lr{ margin-left:0 !important; margin-right:0 !important}

    /* Padding style */
    .mb-space-5{ padding:5px; }
    .mb-space-10{ padding:10px; }
    .mb-space-15{ padding:15px; }
    .mb-space-20{ padding:20px; }
    .mb-space-25{ padding:25px; }
    .mb-space-30{ padding:30px; }
    .mb-space-35{ padding:35px; }
    .mb-space-40{ padding:40px; }
    .mb-space-45{ padding:45px; }
    .mb-space-50{ padding:50px; }
    .mb-space-55{ padding:55px; }
    .mb-space-60{ padding:60px; }
    .mb-space-65{ padding:65px; }
    .mb-space-70{ padding:70px; }
    .mb-space-75{ padding:75px; }
    .mb-space-80{ padding:80px; }
    .mb-space-85{ padding:85px; }
    .mb-space-90{ padding:90px; }
    .mb-space-95{ padding:95px; }
    .mb-space-100{ padding:100px;}

    .mb-space-lft-5{ padding-left:5px; }
    .mb-space-lft-10{ padding-left:10px; }
    .mb-space-lft-15{ padding-left:15px; }
    .mb-space-lft-20{ padding-left:20px; }
    .mb-space-lft-25{ padding-left:25px; }
    .mb-space-lft-30{ padding-left:30px; }
    .mb-space-lft-35{ padding-left:35px; }
    .mb-space-lft-40{ padding-left:40px; }
    .mb-space-lft-45{ padding-left:45px; }
    .mb-space-lft-50{ padding-left:50px; }
    .mb-space-lft-55{ padding-left:55px; }
    .mb-space-lft-60{ padding-left:60px; }
    .mb-space-lft-65{ padding-left:65px; }
    .mb-space-lft-70{ padding-left:70px; }
    .mb-space-lft-75{ padding-left:75px; }
    .mb-space-lft-80{ padding-left:80px; }
    .mb-space-lft-85{ padding-left:85px; }
    .mb-space-lft-90{ padding-left:90px; }
    .mb-space-lft-95{ padding-left:95px; }
    .mb-space-lft-100{ padding-left:100px;}


    .mb-space-rht-5{ padding-right-right:5px; }
    .mb-space-rht-10{ padding-right-right:10px; }
    .mb-space-rht-15{ padding-right-right:15px; }
    .mb-space-rht-20{ padding-right-right:20px; }
    .mb-space-rht-25{ padding-right-right:25px; }
    .mb-space-rht-30{ padding-right-right:30px; }
    .mb-space-rht-35{ padding-right-right:35px; }
    .mb-space-rht-40{ padding-right-right:40px; }
    .mb-space-rht-45{ padding-right-right:45px; }
    .mb-space-rht-50{ padding-right-right:50px; }
    .mb-space-rht-55{ padding-right-right:55px; }
    .mb-space-rht-60{ padding-right-right:60px; }
    .mb-space-rht-65{ padding-right-right:65px; }
    .mb-space-rht-70{ padding-right-right:70px; }
    .mb-space-rht-75{ padding-right-right:75px; }
    .mb-space-rht-80{ padding-right-right:80px; }
    .mb-space-rht-85{ padding-right-right:85px; }
    .mb-space-rht-90{ padding-right-right:90px; }
    .mb-space-rht-95{ padding-right-right:95px; }
    .mb-space-rht-100{ padding-right-right:100px;}

    .mb-space-btm-5{ padding-bottom-bottom:5px; }
    .mb-space-btm-10{ padding-bottom-bottom:10px; }
    .mb-space-btm-15{ padding-bottom-bottom:15px; }
    .mb-space-btm-20{ padding-bottom-bottom:20px; }
    .mb-space-btm-25{ padding-bottom-bottom:25px; }
    .mb-space-btm-30{ padding-bottom-bottom:30px; }
    .mb-space-btm-35{ padding-bottom-bottom:35px; }
    .mb-space-btm-40{ padding-bottom-bottom:40px; }
    .mb-space-btm-45{ padding-bottom-bottom:45px; }
    .mb-space-btm-50{ padding-bottom-bottom:50px; }
    .mb-space-btm-55{ padding-bottom-bottom:55px; }
    .mb-space-btm-60{ padding-bottom-bottom:60px; }
    .mb-space-btm-65{ padding-bottom-bottom:65px; }
    .mb-space-btm-70{ padding-bottom-bottom:70px; }
    .mb-space-btm-75{ padding-bottom-bottom:75px; }
    .mb-space-btm-80{ padding-bottom-bottom:80px; }
    .mb-space-btm-85{ padding-bottom-bottom:85px; }
    .mb-space-btm-90{ padding-bottom-bottom:90px; }
    .mb-space-btm-95{ padding-bottom-bottom:95px; }
    .mb-space-btm-100{ padding-bottom-bottom:100px;}

    .mb-space-top-5{ padding-top-top:5px; }
    .mb-space-top-10{ padding-top-top:10px; }
    .mb-space-top-15{ padding-top-top:15px; }
    .mb-space-top-20{ padding-top-top:20px; }
    .mb-space-top-25{ padding-top-top:25px; }
    .mb-space-top-30{ padding-top-top:30px; }
    .mb-space-top-35{ padding-top-top:35px; }
    .mb-space-top-40{ padding-top-top:40px; }
    .mb-space-top-45{ padding-top-top:45px; }
    .mb-space-top-50{ padding-top-top:50px; }
    .mb-space-top-55{ padding-top-top:55px; }
    .mb-space-top-60{ padding-top-top:60px; }
    .mb-space-top-65{ padding-top-top:65px; }
    .mb-space-top-70{ padding-top-top:70px; }
    .mb-space-top-75{ padding-top-top:75px; }
    .mb-space-top-80{ padding-top-top:80px; }
    .mb-space-top-85{ padding-top-top:85px; }
    .mb-space-top-90{ padding-top-top:90px; }
    .mb-space-top-95{ padding-top-top:95px; }
    .mb-space-top-100{ padding-top-top:100px;}

    .mb-space-void{ padding:0 !important}
    .mb-space-void-lft{ padding-left:0 !important}
    .mb-space-void-rht{ padding-right:0 !important}
    .mb-space-void-top{ padding-top:0 !important}
    .mb-space-void-btm{ padding-bottom:0 !important}
    .mb-space-void-tb{ padding-top:0 !important; padding-bottom:0 !important}
    .mb-space-void-lr{ padding-left:0 !important; padding-right:0 !important}

    /*Miscellaneous classes*/
    .mb-void{ margin:0 !important; padding:0 !important; }

}



/* For Desktop Media */
@media (min-width:1200px){
    
}
